/**
 * Projects
 */
.project {
  margin-bottom: 1.66667em;
}

.project-header {
  margin-top: 0.83333em;
}

.project-title {
  // font-size: 1em; // was 1.33333em
  margin: 0;
  margin-top: 2em !important;
}

.project-thumbnail {
  border: 0;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:before {
    content: "";
    display: block;
    padding-top: 60%;
  }

  &:after {
    background: rgba(_palette(charcoal), .90); // was rgba(_palette(charcoal), .90);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }

  img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition: 1s ease;
    transition: 1s ease;
    width: 100%;
    // opacity: 1; // added this 
  }
}

.project-link {
  // border: 2px solid _palette(charcoal-light-80); // was 0, then 1
  color: #ffffff !important; // was _palette(charcoal) before dark mode
  display: inline; // was block
  position: relative;

  &:hover,
  &:focus {
    img {
      -webkit-transform: scale(1.05,1.05);
      transform: scale(1.05,1.05);
      // opacity: 1; // added
      // -webkit-transform: opacity 0.3s; // added
      // transform: opacity 0.3s; // added
    }
  }
}


// REMOVED ALL MOSAIC CODE – SEE NOTE   @media only screen and (min-width: 761px) { // was min-width: 761px
 
